<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<a href="/workouts/new">Add Workout</a>

<% Exercise.forEach(function(e) { %>
<%= e.exercise %>
<%= e.weight %>
<%= e.reps %>

<% }) %>


  </body>
</html>
